*{
	text-align: center;
}

body{
	padding-top: 5%;
}

#manners{
	margin: 0;
	font-size: 1000%;
	line-height: 80%;
	font-family: 'Old Standard TT';
}

#which-one{
	font-size: 2000%;
/*	line-height: 244;*/
	font-weight: 700;
	margin: 0 0 0 0;
/*
	margin: 0;
	padding: 0;
*/
	font-family: 'Libre Franklin';
}

#till{
	font-size: 1000%;
	font-family: 'Old Standard TT';
}

#time{
	font-size: 1000%;
	font-family: 'Old Standard TT';
}